{
  "openapi": "3.0.1",
  "info": {
    "title": "Search API",
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/search"
    }
  ],
  "components": {
    "schemas": {
      "searchResponseModel": {
        "type": "object",
        "properties": {
          "Queries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "searchTerms": {
                  "type": "string"
                },
                "totalResults": {
                  "type": "number"
                },
                "count": {
                  "type": "number"
                },
                "startIndex": {
                  "type": "number"
                }
              }
            }
          },
          "TotalResults": {
            "type": "number"
          },
          "StartIndex": {
            "type": "number"
          },
          "ItemsPerPage": {
            "type": "number"
          },
          "AttributeExtensions": {
            "type": "object"
          },
          "Authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "AttributeExtensions": {
                  "type": "object"
                },
                "Name": {
                  "type": "string"
                }
              }
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "AttributeExtensions": {
                  "type": "object"
                },
                "Content": {
                  "type": "object",
                  "properties": {
                    "Text": {
                      "type": "string"
                    },
                    "Type": {
                      "type": "string"
                    },
                    "AttributeExtensions": {
                      "type": "object"
                    }
                  }
                },
                "ElementExtensions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "OuterName": {
                        "type": "string"
                      },
                      "OuterNamespace": {
                        "type": "string"
                      }
                    }
                  }
                },
                "LastUpdatedTime": {
                  "type": "string"
                },
                "Links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AttributeExtensions": {
                        "type": "object"
                      },
                      "Length": {
                        "type": "number"
                      },
                      "Title": {
                        "type": "string"
                      },
                      "Uri": {
                        "type": "string"
                      }
                    }
                  }
                },
                "PublishDate": {
                  "type": "string"
                },
                "Title": {
                  "type": "object",
                  "properties": {
                    "Text": {
                      "type": "string"
                    },
                    "Type": {
                      "type": "string"
                    },
                    "AttributeExtensions": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "LastUpdatedTime": {
            "type": "string"
          },
          "Title": {
            "type": "object",
            "properties": {
              "Text": {
                "type": "string"
              },
              "Type": {
                "type": "string"
              },
              "AttributeExtensions": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "responses": {
      "searchResponse": {
        "description": "Search results",
        "content": {
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/searchResponseModel"
            }
          },
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/searchResponseModel"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/description": {
      "get": {
        "summary": "Description",
        "responses": {
          "200": {
            "description": "Open Search Description",
            "content": {
              "application/opensearchdescription+xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "?xml": {
                      "type": "object",
                      "properties": {
                        "@version": {
                          "type": "string"
                        }
                      }
                    },
                    "OpenSearchDescription": {
                      "type": "object",
                      "properties": {
                        "@xmlns": {
                          "type": "string"
                        },
                        "ShortName": {
                          "type": "string"
                        },
                        "Description": {
                          "type": "string"
                        },
                        "Url": {
                          "type": "object",
                          "properties": {
                            "@template": {
                              "type": "string"
                            },
                            "@type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/searchResponse"
          }
        }
      }
    }
  }
}
