{
  "openapi": "3.0.1",
  "info": {
    "title": "Search API",
    "description": "Performs search on parliament.uk domain. Implements OpenSearch specification [https://github.com/dewitt/opensearch].",
    "contact": {
      "name": "Data & Search team at UK Parliament",
      "email": "data@parliament.uk"
    },
    "license": {
      "name": "Open Parliament Licence",
      "url": "https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence"
    },
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/search"
    }
  ],
  "components": {
    "responses": {
      "searchResponse": {
        "description": "Search results",
        "content": {
          "application/atom+xml": {
          },
          "application/rss+xml": {
          },
          "text/xml": {
          },
          "application/xml": {
          },
          "application/json": {
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "OpenSearch github repository",
    "url": "https://github.com/dewitt/opensearch"
  },
  "paths": {
    "/description": {
      "get": {
        "summary": "OpenSearch description document",
        "externalDocs": {
          "description": "OpenSearch github repository",
          "url": "https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#opensearch-description-document"
        },
        "responses": {
          "200": {
            "description": "Open Search Description",
            "content": {
              "application/opensearchdescription+xml": {
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Search results",
        "externalDocs": {
          "description": "OpenSearch github repository",
          "url":"https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#opensearch-response-elements"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/searchResponse"
          }
        }
      }
    }
  }
}
